<div class="container">
  <div class="ng-12 albumlist" style="margin-top:30px;">
      <div class="backbtnholder"><button (click)="backtoprevious();">Back</button></div>
   <ul >
    <li  *ngFor="let i of selectedalbum; let j=index" >
      <h4 appHoverproduct  (click)="showimages(i.albumid)">{{i.albumname}}</h4>
         
    </li>
  </ul>
  </div>
 

</div>




