<div class="container">
  <div class="ng-12 albumlist" style="margin-top:30px;">
    <div class="backbtnholder"><button (click)="backtoprevious();">Back</button></div>
   <ul >
    <li  *ngFor="let i of selectedImg; let j=index" >
      <a href="{{i.imgurl}}" target="_blank" style="width:100%;">
      <div class="imgholder"><img src="{{i.imgthumb}}"></div>
      <h6 appHoverproduct >{{i.imgname}}</h6>
    </a>
         
    </li>
  </ul>
  </div>
 

</div>
