<div class="container">
  <div class="ng-12 userlist" style="margin-top:30px;">
   <ul >
    <li  *ngFor="let i of productarr; let j=index" >
      <h4 appHoverproduct (click)="showIndex('about',i.id)">{{i.name}}</h4>
      <p>email : {{i.email}}</p>    
    </li>
  </ul>
  </div>
 

</div>
