.topbar{
    width:100%;
    background:#222;
    padding:20px 0;
    display:inline-block;
}
body{
    padding:0;
    margin:0;
    top:0;
}
.container{
    width:1160px;
    margin:0 auto;
    padding:0 15px;
}
.row{
    width:100%;
    padding:0 -15px;
}
.ng-10{
    width:100%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-9{
    width:90%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-8{
    width:80%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-7{
    width:70%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-6{
    width:60%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-5{
    width:50%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-4{
    width:40%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-3{
    width:30%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-2{
    width:20%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-1{
    width:10%;
    padding:0 15px;
    float:left;
    position:relative;
}
.nav{
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
}
.nav li{
    display: inline-block;
    padding: 10px;
}
.nav li a{
    color:#fff;
    font-size: 15px;
    text-decoration: none;
    padding:0 20px;
}
img{max-width: 100%;}
.bannerimage{
    width:100%;
    max-height: 600px;
    overflow: hidden;
    float:left;
}