/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    box-sizing: border-box;
}
.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
.topbar{
    width:100%;
    background:#222;
    padding:20px 0;
    display:inline-block;
}
body{
    padding:0;
    margin:0;
    top:0;
}
.container{
    width:1160px;
    margin:0 auto;
    padding:0 15px;
}
.row{
    width:100%;
    padding:0 -15px;
}
.ng-10{
    width:100%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-9{
    width:90%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-8{
    width:80%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-7{
    width:70%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-6{
    width:60%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-5{
    width:50%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-4{
    width:40%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-3{
    width:30%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-2{
    width:20%;
    padding:0 15px;
    float:left;
    position:relative;
}
.ng-1{
    width:10%;
    padding:0 15px;
    float:left;
    position:relative;
}
.nav{
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
}
.nav li{
    display: inline-block;
    padding: 10px;
}
.nav li a{
    color:#fff;
    font-size: 15px;
    text-decoration: none;
    padding:0 20px;
}
img{max-width: 100%;}
.bannerimage{
    width:100%;
    max-height: 600px;
    overflow: hidden;
    float:left;
}
.bannerimage img{

    width:100%;
}
.bigplate{
    width:100%;
    float:left;
    margin:50px 0;
}
.grayarea{
    width:100%;
    margin:0 auto;
    float:none;
}
.captionholder{
    width:100%;
    padding:50px;
    background:#e6e6e6;
    float:left;
}
.captionholder h2{
    font-size: 50px;
    margin:0 0 30px 0;
    padding:0;
    width:100%;
    text-align: center;
    float:left;
}
.captionholder p{
    padding:0 0px;
    text-align: center;
    font-size: 14px;
    line-height:25px;
    color:#000;
    float:left;
}
.cardholder{
    width:100%;
    margin:50px 0;
    float:left;
}
.card{
    width:30%;
    padding:15px;
    float:left;
}
.cardul{
    width:100%;
    padding:0;
    margin:0;
    list-style:none;

}
.cardul li{
    width:100%;
    float:left;
    padding:10px;
    background:#f1f1f1;
    margin:3px 0;
}
.cardul li a{
    padding:0px 20px;
    width:100%;
    text-align: left;
    text-decoration: none;
    float:left;
    color:#000;
}
.carddetails{
    width:69%;
    float:left;
}
.userlist ul{
    width:100%;
    list-style:none;
    padding:0;
    margin:0;
}
.userlist ul li{
    width:33%;
    margin:0 0 10px;;
    padding:10px 0;
    border-bottom:1px #ccc solid;
    display:inline-block;

}
.userlist h4{
    font-size:25px;
    font-weight: 700;
    margin:0;
    line-height:30px;
    width:100%;
    color:#ad34b1;
    cursor:pointer;
}
.userlist p{
    margin:0;
    padding:0;
    font-size: 15px;
    width:100%;

}
.albumlist ul{
    width:100%;
    list-style:none;
    padding:0;
    margin:0;
}
.albumlist ul li{
    width:33%;
    margin:0 0 10px;;
    padding:20px;
    border-bottom:1px #ccc solid;
  display:inline-flex;
   clear:both;

}
.albumlist h4{
    font-size:25px;
    font-weight: 700;
    margin:0;
    line-height:30px;
    width:100%;
    color:#ad34b1;
    cursor:pointer;

}
.albumlist h6{
    font-size:15px;
    text-align:center;
    font-weight: 700;
    margin:0;
    line-height:30px;
    width:100%;
    color:#ad34b1
}
.albumlist img{
    max-width:100%;
    margin:0 auto;
}
.albumlist .imgholder{
    width:100%;
    padding-bottom:15px;
    display:inline-block;
    text-align:center;
}
.albumlist p{
    margin:0;
    padding:0;
    font-size: 15px;
    width:100%;

}
.prodescription h2{
   width:100%;
   margin:50px 0 20px;
   font-size: 40px;
   color:#7d7d7d;
   padding:10px 0;
   border-bottom:1px #7d7d7d solid;
}
.prodescription .prodes{
    width:100%;
    font-size: 15px;
    line-height:19px;
    color:#000;
    margin:0;
    padding:10px 0 20px;
}
.proimgbase{
    width:100%;
    margin-bottom:30px;
    text-align: center;
    max-height:400px;
}
.imgbase{
    width:300px;
    margin:0 auto;
    float:none;
    margin-bottom:30px;
}
.backbtnholder{
    width:100%;
    float: right;
    display:block;
    margin:20px 0;
}
.backbtnholder button{
    padding:7px 25px;
    background:#ac1717;
    color:#fff;
    font-size: 14px;
    cursor:pointer;
    float:right;
}